body, #page-wrapper {
    font-family: 'Juhl', 'Museo', sans-serif;
    background-color: #e0e6e6;
}

.input_money {
    text-align: right;
}

ul.nav.navbar-top-links.navbar-right>li>a {
    color: #ffffff;
}

ul.nav.navbar-top-links.navbar-right>li>a:hover {
    background-color: #aa272f;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #aa272f;
}

nav.navbar.navbar-default.navbar-static-top {
    background-color: #ffffff;
}

.sidebar-nav.navbar-collapse {
    background-color: #616365;
}

ul#side-menu>li>a {
    color: #ffffff;
}

ul.nav.nav-second-level>li>a {
    color: #ffffff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #aa272f;
}

.sidebar ul li a.active {
    background-color: #aa272f;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #aa272f;
}

ul.nav.nav-second-level>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #aa272f;
    color: #ffffff;
}

#side-menu>li>a>span {
    font-size: 30px;
    font-weight: bold;
    margin-top: -6px;
}

.pagination {
    margin: 8px 0 0 0;
}

ul.pagination>li>a {
    color: #da291c;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #da291c;
}

.panel {
    box-shadow: 0px 0px 26px 0px rgba(140,140,140,1);
}

.panel-default>.panel-heading {
    padding: 6px 15px;
    color: #ffffff;
    background-color: #d82f27;
    /*border-color: #ff0000;*/
}

.panel-body {
    padding: 8px;
}

label {
    font-size: smaller;
}

form {
    margin: 0;
}

.row-top {
    background-color: #acc0c6;
    height: 46px;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 26px 0px rgba(0,0,0,0.16);
    /*border-radius: 0px 0px 28px 28px;*/
}

.btn-danger {
    color: #ffffff;
    background-color: #d82f27;
}

.btn-warning {
    background-color: #ffa500;
}

.btn-success {
    background-color: #008000;
}

.btn-info, .btn-info:focus, .btn-info:hover, .btn-info:active, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #4f616b;
    border-color: #4f616b;
}

.rojo {
    color: #ff0000;
}

.verde {
    color: #5cb85c;
}

.naranja {
    color: #ffa500;
}

.header-page {
    margin: 10px 0 0 0px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.navbar-default {
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.16);
}

.col-noticias {
    background-color: #ccc;
    height: 534px;
    margin-top: 9px;
}

.titulo-columna {
    background-color: #ffffff;
    margin: 15px -6px;
    text-align: center;
    font-size: 20px;
    color: #d82f27;
    font-weight: bold;
}

.parrafo-columna {
    margin: auto;
    font-size: 14px;
    color: #616365;
}

.carousel-caption-noticias {
    margin-bottom: -60px;
    right: 0;
    left: 0;
}

.navbar-top-links {
    background-color: #d82f27;
    width: 79%;
}

.navegacion:before {
    background: url(../images/navesquina.svg)no-repeat;
    position: absolute;
    width: 73.9px;
    height: 50px;
    z-index: 9999;
    left: 269px;
    top: 0;
    background-size: 57%;
    background-position-y: 0;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

.popover {
    width: 212px;
}

.carousel-control:focus, .carousel-control:hover {
    opacity: 1;
}

.carousel-control.right {
    color: #d82f27;
    background-image: none;
}

.carousel-control.left {
    color: #d82f27;
    background-image: none;
}

.link_noticias {
    color: #ffffff;
    background-color: #616365;
    padding: 5px;
}

.link_noticias_no_effect {
    color: #ffffff;
    background-color: #616365;
    padding: 5px;
}

.link_noticias:focus, .link_noticias:hover, .link_noticias_no_effect:focus, .link_noticias_no_effect:hover {
    color: #ffffff;
}

.table {
    font-size: smaller;
    margin: 0;
}

.pagination {
    font-size: smaller;
}

.panel {
    display: none;
}

.alert {
    display: none;
}

.header-page {
    display: none;
}

.news {
    display: none;
}

.list-group-item {
    font-size: smaller;
}

.list-group-item-heading {
    font-size: 16px;
}

.panel-wiget {
    margin-top: 16px;
    border-color: #d82f27;
}

.panel-default {
    /*border-color: #ff0000;*/
    border-color: #ddd;
}

.form-control:focus {
    border-color: #ff0000;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,.6);
}

.ui-widget, .ui-widget button {
    font-family: 'Juhl', 'Museo', sans-serif !important;
}

.ui-state-highlight.fc-today {
    background-color: #acc0c6 !important;
}

.fc-row:hover {
    cursor: pointer;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #acc0c6 !important;
    background: #acc0c6 !important;
    color: #444 !important;
}

.birthdate {
    background-image: url(http://192.168.0.100/intranet/public/images/birthdate.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: -25px !important;
    position: absolute;
}

.payment_days {
    background-image: url(http://192.168.0.100/intranet/public/images/money.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: -25px !important;
    margin-left: 45px !important;
    position: absolute;
}

.popover-title {
    padding: 6px 15px;
    color: #ffffff;
    background-color: #d82f27;
}

.fc-event-container {
    padding-top: 1px !important;
}
