body, #page-wrapper {
    font-family: 'Juhl', 'Museo', sans-serif;
}

.input_money {
    text-align: right;
}

ul.nav.navbar-top-links.navbar-right>li>a {
    color: #da291c;
}

ul.nav.navbar-top-links.navbar-right>li>a:hover {
    background-color: #eee;
}

nav.navbar.navbar-default.navbar-static-top {
    background-color: #ffffff;
}

.sidebar-nav.navbar-collapse {
    background-color: #646369;
}

ul#side-menu>li>a {
    color: #ffffff;
}

ul.nav.nav-second-level>li>a {
    color: #ffffff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #777777;
}

.sidebar ul li a.active {
    background-color: #777777;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #777777;
}

ul.nav.nav-second-level>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #777;
}

#side-menu>li>a>span {
    font-size: 30px;
    font-weight: bold;
    margin-top: -6px;
}

ul.pagination>li>a {
    color: #da291c;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #da291c;
}

.panel {
    -webkit-box-shadow: 0px 0px 26px 0px rgba(140,140,140,1);
-moz-box-shadow: 0px 0px 26px 0px rgba(140,140,140,1);
box-shadow: 0px 0px 26px 0px rgba(140,140,140,1);
}

.row-top {
    background-color: #da291c;
    height: 46px;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 26px 0px rgba(0,0,0,0.16);
    border-radius: 0px 0px 28px 28px;
}

.btn-danger {
    color: #ffffff;
    /*background-color: #da291c;*/
    background-color: #ff0000;
}

.btn-warning {
    background-color: #ffa500;
}

.btn-success {
    background-color: #008000;
}

.rojo {
    color: #ff0000;
}

.naranja {
    color: #ffa500;
}

.header-page {
    margin: 10px 0 0 0px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.navbar-default {
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.16);
}

.col-noticias {
    background-color: #ccc;
    height: 542px;
}

.titulo-columna {
    background-color: #ffffff;
    margin: 5px -6px;
    text-align: center;
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
}

.parrafo-columna {
    margin: auto;
    font-size: 12px;
}

.carousel-caption-noticias {
    margin-bottom: -60px;
    right: 0;
    left: 0;
}
